<div style="display:flex">
  <app-add-note (addNote)="addNote($event)"></app-add-note>
  <app-search-note
    (search)="onSearch($event)"
    (searchType)="onSearchType($event)"
    (colorized)="colorized = $event"
  ></app-search-note>
</div>
<app-edit-note
  *ngIf="isEdit"
  [note]="editableNote"
  (closeEdit)="isEdit = false"
  (edit)="store.editNote($event.text, $event.id)"
></app-edit-note>
<app-note-list
  *ngIf="service.searchString && service.searchString.length"
  [notes$]="service.filtered$"
  (delete)="store.removeNote($event)"
  (edit)="isEdit = true; editableNote = $event"
  [title]="'filtered'"
  [filtered]="true"
  [colorized]="colorized"
></app-note-list>
<app-note-list
  [notes$]="service.remaining$"
  (delete)="store.removeNote($event)"
  (edit)="isEdit = true; editableNote = $event"
  [title]="
    service.searchString && service.searchString.length ? 'remaining' : 'all'
  "
  [filtered]="false"
  [colorized]="colorized"
></app-note-list>
